@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

$palette__color--deep-red: #C00000;
$palette__color--red: #FF0000;
$palette__color--orrange: #FFC000;
$palette__color--light-green: #92D050;
$palette__color--green: #00B050;
$palette__color--light-blue: #00B0F0;
$palette__color--blue: #0070C0;
$palette__color--deep-blue: #002060;
$palette__color--puple: #7030A0;
$palette__color--grey: #919192;
$svg--gear-solid: '/src/assets/img/icon/gear-solid.svg';
$svg--pen-to-square-solid: '/src/assets/img/icon/pen-to-square-solid.svg';
$svg--floppy-disk-solid: '/src/assets/img/icon/floppy-disk-solid.svg';
$svg--trash-can-solid-white: '/src/assets/img/icon/trash-can-solid-white.svg';
$svg--bars-solid: '/src/assets/img/icon/bars-solid.svg';
$svg--xmark-solid-white: '/src/assets/img/icon/xmark-solid-white.svg';
$svg--bookmark-solid: '/src/assets/img/icon/bookmark-solid.svg';

@mixin hidden-text {
  position:absolute !important;  
  width:1px; 
  height:1px; 
  overflow:hidden;
  clip:rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip:rect(1px, 1px, 1px, 1px);
}
@mixin icon24 {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 24px;
  height: 24px;
}

body {
  font-family: 'Nanum Pen Script', cursive;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=text],input[type=password],select {
  border: 1px #757575 solid;
  border-radius: 5px;
  height: 1.8rem;//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1rem;//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  box-sizing: border-box;
  padding-left: 0.4rem;//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
}
button[type=button].btn {
  background-color: #C8C371;
  border: 0;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1rem;//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
}
hr {
  margin: 0.4rem 0;//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
}
.hide {
  display: none !important;
}
.btnIcon {
  @include icon24;
  margin: 0 6px;
  padding: 0px;
  border: 0px;

  &.svg--gear-solid { background-image: url($svg--gear-solid); }
  &.svg--pen-to-square-solid { background-image: url($svg--pen-to-square-solid); }
  &.svg--floppy-disk-solid { background-image: url($svg--floppy-disk-solid); }
  &.svg--trash-can-solid-white { background-image: url($svg--trash-can-solid-white); }
  &.svg--bars-solid { background-image: url($svg--bars-solid); }
  &.svg--xmark-solid-white { background-image: url($svg--xmark-solid-white); }
  &.svg--bookmark-solid { background-image: url($svg--bookmark-solid); }
}
.aIcon {
  width: 24px;
  height: 24px;
  margin: 0 6px;

  img {
    width: 100%;
    height: 100%;

    &.svg--gear-solid { content: url($svg--gear-solid); }
    &.svg--pen-to-square-solid { content: url($svg--pen-to-square-solid); }
    &.svg--floppy-disk-solid { content: url($svg--floppy-disk-solid); }
    &.svg--trash-can-solid-white { content: url($svg--trash-can-solid-white); }
    &.svg--bars-solid { content: url($svg--bars-solid); }
    &.svg--xmark-solid-white { content: url($svg--xmark-solid-white); }
    &.svg--bookmark-solid { content: url($svg--bookmark-solid); }
  }
}

// 노트 영역에서는 드래그 가능
.draggable {
  -webkit-user-select:all;
  -moz-user-select:all;
  -ms-user-select:all;
  user-select:all
}

.note__container {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 20px;
  
  .note__spine {
    width: 100%;
    height: 35px;
    position: fixed;
    top: 0;
    z-index: 90;
    background-color: black;
    display: flex;
    align-items: center;
  }
  .note__body {
    height: calc(100% - 35px);
    top: 35px;
    position: relative;
    // display: flex;

    background: url(/src/assets/img/index/LegalPad_index_endMark.png);
    background-size: 100%;
    background-repeat: repeat-y;
    overflow-y:scroll;
  }
}
.note__spine > .spine__title {
  flex: 2 1 50%;
  color: grey;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.note__spine > .spine__side {
  flex: 1 2 25%;
  position: relative;
  display: flex;

  &.spine__side--right {
    justify-content: end;
  }
}