@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

$palette__color--deep-red: #C00000;
$palette__color--red: #FF0000;
$palette__color--orrange: #FFC000;
$palette__color--light-green: #92D050;
$palette__color--green: #00B050;
$palette__color--light-blue: #00B0F0;
$palette__color--blue: #0070C0;
$palette__color--deep-blue: #002060;
$palette__color--puple: #7030A0;
$palette__color--grey: #919192;
$svg--gear-solid: '/src/assets/img/icon/gear-solid.svg';
$svg--pen-to-square-solid: '/src/assets/img/icon/pen-to-square-solid.svg';
$svg--floppy-disk-solid: '/src/assets/img/icon/floppy-disk-solid.svg';
$svg--trash-can-solid-white: '/src/assets/img/icon/trash-can-solid-white.svg';
$svg--bars-solid: '/src/assets/img/icon/bars-solid.svg';
$svg--xmark-solid-white: '/src/assets/img/icon/xmark-solid-white.svg';
$svg--bookmark-solid: '/src/assets/img/icon/bookmark-solid.svg';

@mixin hidden-text {
  position:absolute !important;  
  width:1px; 
  height:1px; 
  overflow:hidden;
  clip:rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip:rect(1px, 1px, 1px, 1px);
}
@mixin icon24 {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 24px;
  height: 24px;
}
@mixin bookmark {
  width: 80%;
  max-width: 80%;
  height: 1.6rem;
  /* https://bennettfeely.com/clippy/ */
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
  color: white;
  padding-left: 13%;
  line-height: 1.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;

  &.bookmark__selected {
    max-width: 100%;
    width: 100%;
  }
  &.bookmark__color--deep-red {
    background: $palette__color--deep-red;
  }
  &.bookmark__color--red {
    background: $palette__color--red;
  }
  &.bookmark__color--orrange {
    background: $palette__color--orrange;
  }
  &.bookmark__color--light-green {
    background: $palette__color--light-green;
  }
  &.bookmark__color--green {
    background: $palette__color--green;
  }
  &.bookmark__color--light-blue {
    background: $palette__color--light-blue;
  }
  &.bookmark__color--blue {
    background: $palette__color--blue;
  }
  &.bookmark__color--deep-blue {
    background: $palette__color--deep-blue;
  }
  &.bookmark__color--puple {
    background: $palette__color--puple;
  }
  &.bookmark__color--grey {
    background: $palette__color--grey;
  }
}

body {
  font-family: 'Nanum Pen Script', cursive;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=text],input[type=password],select {
  border: 1px #757575 solid;
  border-radius: 5px;
  height: 1.8rem;//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1rem;//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  box-sizing: border-box;
  padding-left: 0.4rem;//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
}
button[type=button].btn {
  background-color: #C8C371;
  border: 0;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1rem;//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
}
hr {
  margin: 0.4rem 0;//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
}
.hide {
  display: none !important;
}
.btnIcon {
  @include icon24;
  margin: 0 6px;
  padding: 0px;
  border: 0px;

  &.svg--gear-solid { background-image: url($svg--gear-solid); }
  &.svg--pen-to-square-solid { background-image: url($svg--pen-to-square-solid); }
  &.svg--floppy-disk-solid { background-image: url($svg--floppy-disk-solid); }
  &.svg--trash-can-solid-white { background-image: url($svg--trash-can-solid-white); }
  &.svg--bars-solid { background-image: url($svg--bars-solid); }
  &.svg--xmark-solid-white { background-image: url($svg--xmark-solid-white); }
  &.svg--bookmark-solid { background-image: url($svg--bookmark-solid); }
}
.aIcon {
  width: 24px;
  height: 24px;
  margin: 0 6px;

  img {
    width: 100%;
    height: 100%;

    &.svg--gear-solid { content: url($svg--gear-solid); }
    &.svg--pen-to-square-solid { content: url($svg--pen-to-square-solid); }
    &.svg--floppy-disk-solid { content: url($svg--floppy-disk-solid); }
    &.svg--trash-can-solid-white { content: url($svg--trash-can-solid-white); }
    &.svg--bars-solid { content: url($svg--bars-solid); }
    &.svg--xmark-solid-white { content: url($svg--xmark-solid-white); }
    &.svg--bookmark-solid { content: url($svg--bookmark-solid); }
  }
}

// 노트 영역에서는 드래그 가능
.draggable {
  -webkit-user-select:all;
  -moz-user-select:all;
  -ms-user-select:all;
  user-select:all
}

// 노트
.note__container {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 20px;
  
  // 노트등
  .note__spine {
    width: 100%;
    height: 35px;
    position: fixed;
    top: 0;
    z-index: 90;
    background-color: black;
  }
  // 노트 컨텐츠
  .note__body {
    height: calc(100% - 35px);
    top: 35px;
    position: relative;

    background: url(/src/assets/img/index/LegalPad_index_endMark.png);
    background-size: 100%;
    background-repeat: repeat-y;
    overflow-y:scroll;
  }
}
// 노트등
.note__spine {
  display: flex;
  align-items: center;

  .spine__title {
    flex: 2 1 50%;
    color: grey;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .spine__side {
    flex: 1 2 25%;
    position: relative;
    display: flex;
  
    &.spine__side--right {
      justify-content: end;
    }
  }
}
// 노트 컨텐츠
.note__body {
  display: flex;

  // 북마크 목록
  .bookmark__list {
    flex-basis: 10%;
    max-width: 10%;
    padding-right: 20px;
    padding-top: 8px;

    .bookmark {
      @include bookmark;
    }
  }
  // 글 목록
  .post__grid {
    flex-basis: 90%;
    padding: 0px 20px 10px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: minmax(0, 350px); */
    gap: 4px;

    .post__cell {
      padding: 8px;
    }
  }
}
.post__cell > .post {
  display: block;
  background-color: rgb(252 246 161 / 40%);
  border: 1px #fcf6a1 solid;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.25); 
  box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.25);
  padding: 4px;
  transition: all 0.2s linear;

  &:hover {
    transform: scale(1.02);
  }

  .post__title {
    margin-bottom: 6px;
    font-size: 26px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }
  .post__thumbnail {
    margin-bottom: 6px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;

    img {
      max-height: 100%;
      object-fit: contain;
    }
  }
  .post__content {
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .post__regist-date {
    text-align: right;
  }
}
.post__cell > .post > .tag {
  display: inline-block;

  .tag__list {
    list-style: none;

    .tag__item {
      float: left;
      padding: 2px 8px;
      margin-right: 8px;
      background-color: white;
      border-radius: 20px;
      line-height: 20px;
    }
  }
}