<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" href="/static/img/index/logo.png">
  <title>notepad</title>
</head>
<body>
  <header class="note-spine">
    <div class="note-spine__side">
    </div>
    <div class="note-spine__title">lkh's notepad</div>
    <div class="note-spine__side note-spine__side__right">
      <img src="/static/img/icon/pen-to-square-solid.svg" alt="수정" class="svg wide-screen moveWriteNote">
      <img src="/static/img/icon/trash-can-solid-white.svg" alt="삭제" class="svg wide-screen" id="deleteNote">
      <img src="/static/img/icon/bars-solid.svg" alt="메뉴" class="svg" id="showMenu">
      <img src="/static/img/icon/xmark-solid-white.svg" alt="닫기" class="svg" id="hideMenu">
      <div class="menu-list menu-list__type--menu hide">
        <div class="menu">
          <img src="/static/img/icon/pen-to-square-solid.svg" alt="수정" class="svg">
          <div class="menu__name">글 수정</div>
        </div>
        <div class="menu">
          <img src="/static/img/icon/trash-can-solid-white.svg" alt="삭제" class="svg">
          <div class="menu__name">글 삭제</div>
        </div>
      </div>
    </div>
  </header>
  
  <section class="note">
    <aside class="bookmark__list">
      <div class="bookmark bookmark__color--red">선택 아님sssssssssssssssssssssssssssssssssssssssss</div>
      <div class="bookmark bookmark__color--blue bookmark__selected">선택!!sssssssssssssssssssssssssssssssssssssssssssssssssss</div>
      <div class="bookmark bookmark__color--green">선택 아님2</div>
    </aside>
    <article class="detail-wrap">
      <div class="detail__head">
        <div class="title">제목</div>
        <div class="regist-date">2022-09-25</div>
      </div>
      <hr>
      <div class="detail__content">
        <div class="content">본문 영역</div>
      </div>
    </article>
  </section>
</body>
</html>
