<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" href="/src/assets/img/index/logo.png">
  <title>notepad - detail</title>
</head>
<body>
  <div class="note__container">
    <header class="note__spine">
      <div class="spine__side">
      </div>
      <div class="spine__title" id="title">lkh's notepad</div>
      <div class="spine__side spine__side--right">
        <button type="button" class="btnIcon svg--pen-to-square-solid wide-screen"></button>
        <button type="button" class="btnIcon svg--trash-can-solid-white wide-screen wide-screen"></button>
        <button type="button" class="btnIcon svg--bars-solid" id="showMenu"></button>
        <button type="button" class="btnIcon svg--xmark-solid-white" id="hideMenu"></button>
        <div class="menu-list menu-list__type--menu hide" id="menuMain">
          <div class="menu moveWriteNote">
            <button type="button" class="btnIcon svg--pen-to-square-solid"></button>
            <div class="menu__name">글 수정</div>
          </div>
          <div class="menu" id="showBookmarkList">
            <button type="button" class="btnIcon svg--bookmark-solid"></button>
            <div class="menu__name">글 삭제</div>
          </div>
        </div>
        <div class="menu-list menu-list__type--bookmark hide" id="menuBookmark">
          <div class="bookmark bookmark__color--red">선택 아님sssssssssssssssssssssssssssssssssssssssss</div>
          <div class="bookmark bookmark__color--blue bookmark__selected">선택!!sssssssssssssssssssssssssssssssssssssssssssssssssss</div>
          <div class="bookmark bookmark__color--green">선택 아님2</div>
        </div>
      </div>
    </header>
    
    <section class="note__body">
      <aside class="bookmark__list">
        <div class="bookmark bookmark__color--red">선택 아님sssssssssssssssssssssssssssssssssssssssss</div>
        <div class="bookmark bookmark__color--blue bookmark__selected">선택!!sssssssssssssssssssssssssssssssssssssssssssssssssss</div>
        <div class="bookmark bookmark__color--green">선택 아님2</div>
      </aside>
      <article class="detail-wrap">
        <div class="detail__head">
          <div class="title">제목</div>
          <div class="regist-date">2022-09-25</div>
        </div>
        <hr>
        <div class="detail__content">
          <div class="content">본문 영역</div>
        </div>
      </article>
    </section>
  </div>
</body>
</html>
